body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  color: #f5f6f7;
  font-family: Tahoma;
  background-color: #1b1b32;
}

p,
h1 {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
select,
textarea {
  width: 100%;
  min-height: 2em;
  margin: 10px 0 0 0;
}

input,
textarea {
  color: #ffffff;
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  width: 60%;
  height: 2em;
  display: block;
  min-width: 300px;
  margin: 1em auto;
  font-size: 1.1rem;
  border-color: white;
  background-color: #3b3b4f;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2;
}
