.form-container {
  width: 600px;
  padding: 10px;
  color: #dad7cd;
  border-radius: 5px;
  background-color: #344e41;
}

label {
  margin: 10px auto;
  color: #a3b18a;
}

input,
textarea {
  width: 100%;
  padding: 2px;
  margin: 10px auto;
}

button {
  font-size: 16px;
  color: #dad7cd;
  border-color: #a3b18a;
  background-color: #588157;
}

button:hover {
  background-color: #3a5a40;
}
